<div class="net-banking-view">
    <h4>Net Banking Payment</h4>
    <div class="mb-3">
        <label>Bank Name:</label>
        <input type="text" name="bank_name" class="form-control" placeholder="Enter bank name" />
    </div>
    <div class="mb-3">
        <label>Account Number:</label>
        <input type="text" name="account_number" class="form-control" placeholder="Enter account number" />
    </div>
</div>
